/* Contact */

.contact {
  background-color: rgb(0, 0, 0);
  height: 80vh;
  width: 100%;
}

.contact {
  padding-left: 8%;
  padding-top: 20vh;
  height: 99vh;
}

.email-container {
  position: relative;
}

#email {
  width: 100%;
  bottom: 5%;
  color: white;
  position: absolute;
  font-size: 2rem;
  text-align: center;
}

#contact-img {
  height: 80vh;
  width: 92vw;
}