/* Contact */

.contact {
  height: 80vh;
  width: 100%;
}

.contact {
  padding-left: 8%;
  padding-top: 20vh;
  height: 99vh;
}

.email-container {
  position: relative;
  height: 80vh;
}

.link-container {
position: absolute;
color: white;
z-index: 99;
height: 90px;
bottom: 0px;
width: 100%;
text-align: center;
padding: 20px;
cursor: pointer;
a {
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: sans-serif;
}
}

#contact-img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .contact {
    padding-left: 0;
  }

  #contact-img {
    padding-top: 50px;
    height: 75vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
  }

  #email {
    font-size: 18px;
  }
  .link-container {
    padding: 0;
    bottom: 10vh;
    height: auto;
  }
}

#email {
  cursor: pointer;
}