/* Responsive */

@media only screen and (max-width: 600px) {
  .bryden-info {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    padding-left: 0;

  }

  .us {
    padding-left: 0;
    padding-top: 30vh;
  }

  .abraham-info {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .img-abraham {
    grid-row: 1;
    order: 1;
  }

  .abraham-text ul {
    text-align: start;
    color: white;
    font-family: sans-serif;
  }

  .abraham-text {
    border: none;
  }

  .us-abraham {
    padding-left: 20px;
  }
  .projects {
    padding-left: 0% !important;
  }
  .bar {
    display: block;
    background: rgb(241,90,36);
    background: linear-gradient(90deg,rgba(251,176,59,1) 39%, rgba(241,90,36,1) 100%);
    width: 100%;
    height: 40px;
  }

  .contact {
    padding-left: 0 !important;
  }

  #logo-div {
    padding: 0 !important;
  }

  .title h1 {
    display: inline !important;
    letter-spacing: 5px;
    font-size: 30px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  .nav-links {
    font-size: 30px;
    background-color: #000000;
    width: 100%;
    height: 100%;
    padding: 0px 40px 0px 40px;
  }

  .side-bar {
    display: none;
  }

  nav {
    height: 30vh;
    display: flex;
    flex-direction: column;
  }

  #logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;

  }

  .circle {
    width: 20px;
    height: 40px;
    color: white;
  }

  .circle:hover {
    background-color: rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 750px) {
  .side-title h1 {
    font-size: 3rem !important;
  }
}

@media only screen and (max-width: 600px) {

  #contact-img {
    height: 100vh;
    width: 100vw;
  }

  #email {
    font-size: 18px;
  }

  .home {
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    padding-left: 0%;
  }

  .bryden-section {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .bryden-section img {
    width:75%;
  }

  .bryden-section .home-names {
    padding: 0;
    font-size: 10px;
  }

  .bryden-section .home-names h1 {
    font-size: 40px;
  }

  .abraham-section {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .abraham-section .home-names {
    padding: 0;
    font-size: 10px;
  }

  .abraham .home-names h1 {
    font-size: 40px;
  }

  .img-container img {
    transform: translateY(-20%);
    z-index: 11;
  }
  
}

@media only screen and (min-width: 412px) {
  .title h1 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .abraham-info {
    padding-top: 2% !important;
  }
  .img-container img {
    transform: scaleX(-1)
    translateY(0%);
  }
  .abraham-section .home-names {
    position: absolute;
    padding-top: 20px;
    left: 10%;
  }

  .bryden-section .home-names {
    position: absolute;
    right: 20%;
    padding-top: 40px;
  }


  .bryden-section img {
    width: 100%;
  }
}

@media only screen and (min-width: 630px) {
  .abraham-info {
    padding-top: 60%;
  }
}

  @media only screen and (min-width: 750px) {
    .abraham-info {
      padding-top: 35%;
    }
  }
  
  @media only screen and (min-width: 900px) {
    .abraham-info {
      padding-top: 20%;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .abraham-info {
      padding-top: 10%;
    }
  }

  @media only screen and (min-width: 1100px) {
    .abraham-info {
      padding-top: 7%;
    }
  }
  
  @media only screen and (max-width: 750px) {
    .abraham-info {
      padding-top: 60%;
    }
  }

  @media screen and (max-height: 520px) {
    .background {
      display: none;
    }
  }